select.ext_rating {
    position: absolute;
    right: 275px;
    width: 100px;
    top: 15px;
    border-radius: 3px;
    border: 1px solid #b2b5b5;
}

span.ext-daily{
    color: rgb(111, 255, 141);
    background: gray;
    padding: 0px 4px;
    border-radius: 5px;
    font-weight: bold;
}
