select.ext_rating {
    position: absolute;
    right: 275px;
    width: 100px;
    top: 15px;
    border-radius: 3px;
    border: 1px solid #b2b5b5;
}

span.ext-daily{
    color: #888;
    padding: 0px 1px;
}

.ext-badges{
    margin: 5px 0 0;
}

.ext-badges > .ext-badge{
    padding: 0 5px;
    margin: 1px 2px 1px 0px;
    border-radius: 3px;
    color: white;
    /*text-shadow: 0 0 5px black;*/
    display: inline-block;
    font-size: 10px;
    font-weight: 500;
}

.ext-badges > .ext-badge-top{
    background-color: #8B60DA;
}

.ext-badges > .ext-badge-trend{
    background-color: #32B196;
}

.ext-badges > .ext-badge-adobe{
    background-color: #9F9F9F;
}

.ext-badges > .ext-badge-new{
    background: #87BDC3;
}

.ext-badges > .ext-badge-100k{
    background: linear-gradient(to bottom, #1e5799 0%,#1e5799 80%, yellow 80%, yellow 100%);
}

.ext-badges > .ext-badge-stars{
    background-color: #4E93DD;
}

.ext-badges > .ext-badge-forks{
    background-color: rgb(94, 168, 60);
}

.fa{
    font-size: 14px;
}

.fa-star {
    font-size: 11px;
    position: relative;
    top: 1px;
}

.fa-code-fork {
    position: relative;
    top: 2px;    
}

.ext-stars, .ext-forks{
    margin-right: 2px;
    margin-left: 5px;
}

.ext-avatar{
    margin-right: 5px;
    border-radius: 4px;
    width: 20px;
}

.ext-name {
    margin-bottom: 3px !important;    
}

.ext-info {
    padding-bottom: 20px !important;
}
