<div class="muted ext-version">
    <i title="${downloads} ${str_downloads}" class="fa fa-download"></i>
    <a title="${str_click_more}" href="#">
        <a data-extension-id="${id}" title="${downloads} ${str_downloads}" class="ext-link_more">${downloads}</a>
    </a>
    <span title="${daily} ${str_daily}" class="ext-daily">(+${daily})</span>
    <span class="ext-stars">
        <i class="fa fa-star"></i> ${stars}
    </span>
    <span class="ext-forks">
        <i class="fa fa-code-fork"></i> ${forks}
    </span>
    <a href="http://brackets.dnbard.com/extension/${id}" title="${click_for_more}" class="fa fa-globe"></a>
    <div class="ext-users">
        <i class="fa fa-users"></i>
        <a href="https://github.com/dnbard/brackets-extension-rating/wiki/Online-and-max-users-counters-in-this-extension">
            <span title="${str_online}">${online}</span>
        </a>
        <span>/</span>
        <span title="${str_max_users}">${max_users}</span>
    </div>
</div>
